<a href="https://colab.research.google.com/github/anuradha-datascience/machine-learning/blob/main/DataPreprocessing/1_MarketCampaign_DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.kaggle.com/datasets/jackdaoud/marketing-data/data

References:

https://github.com/nailson/ifood-data-business-analyst-test/blob/master/exploration_segmentation.ipynb

https://medium.com/@midegageorge2/predictive-model-development-maximizing-ifoods-marketing-campaign-profitability-by-targeting-95fe1ae79478

# Problem Understanding

https://github.com/ifood/ifood-data-business-analyst-test/blob/master/iFood%20Data%20Analyst%20Case.pdf

# Import Libraries

In [41]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#Load Data and Initial Exploration

In [42]:
df = pd.read_csv("ml_project1_data.csv")

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [44]:
#check for object and numerical data
object_cols=df.select_dtypes(include=['object']).columns.tolist()
num_cols=df.select_dtypes(include=['int64','float64']).columns.tolist()
print("object col:",object_cols)
print("num col:",num_cols)

object col: ['Education', 'Marital_Status', 'Dt_Customer']
num col: ['ID', 'Year_Birth', 'Income', 'Kidhome', 'Teenhome', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response']

In [45]:
df.isnull().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [46]:
# Calculate the percentage of missing values in each column
missing_percentage = df.isna().mean() * 100

# Print the percentage of missing values for each column
print(missing_percentage)

ID                     0.000000
Year_Birth             0.000000
Education              0.000000
Marital_Status         0.000000
Income                 1.071429
Kidhome                0.000000
Teenhome               0.000000
Dt_Customer            0.000000
Recency                0.000000
MntWines               0.000000
MntFruits              0.000000
MntMeatProducts        0.000000
MntFishProducts        0.000000
MntSweetProducts       0.000000
MntGoldProds           0.000000
NumDealsPurchases      0.000000
NumWebPurchases        0.000000
NumCatalogPurchases    0.000000
NumStorePurchases      0.000000
NumWebVisitsMonth      0.000000
AcceptedCmp3           0.000000
AcceptedCmp4           0.000000
AcceptedCmp5           0.000000
AcceptedCmp1           0.000000
AcceptedCmp2           0.000000
Complain               0.000000
Z_CostContact          0.000000
Z_Revenue              0.000000
Response               0.000000
dtype: float64

In [47]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0

In [48]:
# check for duplicate records
df.nunique().to_frame().T

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,2240,59,5,8,1974,3,3,663,100,776,...,16,2,2,2,2,2,2,1,1,2

In [49]:
# check for inconsistencies in object type variables
print("Education",df['Education'].unique())
print("Marital_Status",df['Marital_Status'].unique())

Education ['Graduation' 'PhD' 'Master' 'Basic' '2n Cycle']
Marital_Status ['Single' 'Together' 'Married' 'Divorced' 'Widow' 'Alone' 'Absurd' 'YOLO']

In [50]:
# since its a classification problem check for balance in the value of target variable
# - customer with response -1 and 0 (the one who finally accepted offer or not)

# Calculate percentage of each unique value in the 'Response' column
## with normalize=True returns the proportion (fraction) of each unique value.
percentages = df['Response'].value_counts(normalize=True) * 100
print(percentages)

Response
0    85.089286
1    14.910714
Name: proportion, dtype: float64

## Observations and Actions

- some features which are shown numerical such as  AcceptedCmp5 are categorical in nature and some are binary encoded already

- response target variable is already binary encoded

- There is no inconsistencies in object type variable values

- There is no duplicate record - looking at count of unique customer ID

- most of the categorical variables have two unique categories, except for Educationand Marital_Status, which have 5 and 8 unique categories, respectively


--> Clean Data Requirements

- Income has 24 missing values and needs to be addressed

- data type needs to be changed - >object type variable dt_customer and numerical variable year_birth needs to be converted into a datetime64[ns] data type.


--> Feature Engineering Requirements

- convert Kidhome and Teenhome into categorical variables with 1 representing the presence of a kid or teen and 0 otherwise:

- generate age groups from the Year_Birth column to simplify our analysis and result interpretation.

- From dt_customer which indicates enrollment date of customer with the company - create feature to determine the number of days each customer is with the company

--> Drop Features

- ID is unique to each customer and would not play any role in prediction and needs to be dropped

- the Z_CostContact and Z_Revenue variables only have one unique category, hence won’t help build a predictive model.Hence they can be dropped

--> Data Prepration for Modelling requirements
- Categorically encode - original features -Marital_Status and Education, Newly created features- Age Group

-- Drop these features once categorically encoded

- Looking at the count  of target variable customer who accepted offer and who did not, we can say its highly imbalanced data and we need to look at balancing aspect

-- Since its highly imbalanced dataset - we need to make choice of performance metrics and not consider accuracy measure which would indicate wrong information

- Requirement of data scaling

# Data Cleanup

Data cleaning encompasses various preprocessing steps to ensure that the data is accurate, consistent, and ready for analysis.

## Handling Missing Data

In [51]:

# Income data -24 values missing
## percentage missing value ->Income  - 1.071429
df['Income'].isnull().mean()*100

1.0714285714285714

In [52]:
#replace missing income with median

##  quick manipulation way is to use pandas- fillna method - intutive and easy to use due to direct integration with dataframe operations
# df=df.fillna(df['Income'].median())
# df['Income'].isnull().mean()*100

### Choosing Imputer over fillna
Scikit-learn's **SimpleImputer** is a powerful tool for handling missing data in machine learning pipelines. Its integration with ML pipelines ensures smooth workflows, while its consistency in code usage maintains clarity and ease of maintenance. With optimized performance, SimpleImputer efficiently handles large datasets. Its compatibility with cross-validation enhances model selection and evaluation, making it a reliable choice for imputation tasks.

While fillna from Pandas is suitable for quick data manipulation and analysis tasks, using SimpleImputer in production environments offers better compatibility, scalability, and reliability within machine learning pipelines. Therefore, SimpleImputer is often preferred for handling missing values in production machine learning systems.

In [60]:
# from sklearn.impute import SimpleImputer

# # Identify columns with missing values
# cols_with_missing = df.columns[df.isnull().any()].tolist()

# # Create the imputer object with strategy='median'
# imputer = SimpleImputer(strategy='median')

# # Apply imputation to columns with missing values
# df[cols_with_missing] = imputer.fit_transform(df[cols_with_missing])

# # Show the DataFrame with missing values filled using median
# print(df)

from sklearn.impute import SimpleImputer

from sklearn.impute import SimpleImputer

def impute_numerical(df, columns=None, strategy='median'):
    # If columns are not provided, select all numerical columns with missing values
    if columns is None:
        numerical_cols_with_missing = df.select_dtypes(include='number').columns[df.select_dtypes(include='number').isnull().any()].tolist()
    else:
        numerical_cols_with_missing = columns

    # Apply imputation to numerical columns with missing values using specified strategy
    imputer = SimpleImputer(strategy=strategy)
    #Fit: It computes statistics such as the median or most frequent value from the input data.
    # Transform: It replaces missing values in the input data with the computed statistics.
    df[numerical_cols_with_missing] = imputer.fit_transform(df[numerical_cols_with_missing])

    return df

def impute_categorical(df, columns=None, strategy='most_frequent'):
    # If columns are not provided, select all categorical columns with missing values
    if columns is None:
        categorical_cols_with_missing = df.select_dtypes(exclude='number').columns[df.select_dtypes(exclude='number').isnull().any()].tolist()
    else:
        categorical_cols_with_missing = columns

    # Apply imputation to categorical columns with missing values using specified strategy
    imputer = SimpleImputer(strategy=strategy)
    df[categorical_cols_with_missing] = imputer.fit_transform(df[categorical_cols_with_missing])

    return df

# Example usage:

# df = impute_numerical(df, columns=['column1', 'column2'], strategy='median')
# df = impute_categorical(df, columns=['column1', 'column2'], strategy='most_frequent')


Deciding whether to include columns with missing values above a certain percentage depends on factors like their impact on analysis, data quality, and information loss. Consider whether imputation is feasible and if excluding these columns affects your analysis. Additionally, domain knowledge and data availability play roles in making informed decision

In [61]:
# Handling missing income
df = impute_numerical(df, columns=['Income'], strategy='median')

In [62]:
# check for null values after imputation
df['Income'].isnull().mean()*100

0.0

In [64]:
# Handling Wrong Data Type
# changing data type to date
df['Year_Birth'] = pd.to_datetime(df['Year_Birth'], format='%Y')
df["Dt_Customer"] = pd.to_datetime(df["Dt_Customer"])
df[['Year_Birth',"Dt_Customer"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year_Birth   2240 non-null   datetime64[ns]
 1   Dt_Customer  2240 non-null   datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 35.1 KB

# Feature Engineering

Some of the identified actions:

- convert Kidhome and Teenhome into categorical variables with 1 representing the presence of a kid or teen and 0 otherwise:

- generate age groups from the Year_Birth column to simplify our analysis and result interpretation.

- From dt_customer which indicates enrollment date of customer with the company - create feature to determine the number of days each customer is with the company

--> Drop Features

- ID is unique to each customer and would not play any role in prediction and needs to be dropped

- the Z_CostContact and Z_Revenue variables only have one unique category, hence won’t help build a predictive model.Hence they can be dropped