<a href="https://colab.research.google.com/github/anuradha-datascience/machine-learning/blob/main/3.%20Data%20Preprocessing/Working_With_Categorical_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is a Categorical Variable
- Qualitative Data with **finite** number of groups/categories - like colors, name of countries, employee department
- Can be reperesented with a digit too besides text value - like size of shirt -38,40,42,44
- Unlike numerical data which is a quantitative and usually a measurement of certain parameter like weight and height

# Categorical Data can be further divided into Ordinal and Numerical data
- Ordinal -which have natural Order

  - small , medium, large
  - strogly disagree, disagree,neutral, agree, strongly agree
  - education - high school, bachelor's , master's,phd
  - Salary Range - Low, Medium, High

- Nominal - which cannot be placed in natural order
  - name of  colors
  - name of countries
  - employee ids
  - department names
  - gender - male, female - also binary in nature
  - marital status
  -customer churn - yes no - binary in nature
  - spam - yes/ no- binary in nature

# Import a Dataset and Analyze the type of its variables

- categorical(Nominal or Ordinal)

In [728]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)

- Dataset Link And Description:(Originally from UCI repository)

https://www.kaggle.com/datasets/wenruliu/adult-income-dataset

- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, - State-gov, Without-pay, Never-worked.
f- nlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, -
 Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, - Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
- class: >50K, <=50K

In [729]:
dataset=pd.read_csv('adult.csv',na_values=['?'] )
df=dataset.copy()
df.head(2)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,gender,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,NaN,77053,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K

In [730]:
cat_col=df.select_dtypes(include='object').columns
num_col=df.select_dtypes(include='number').columns
print("cat column", cat_col)
print("num column",num_col)

cat column Index(['workclass', 'education', 'marital.status', 'occupation',
       'relationship', 'race', 'gender', 'native.country', 'income'],
      dtype='object')
num column Index(['age', 'fnlwgt', 'education.num', 'capital.gain', 'capital.loss',
       'hours.per.week'],
      dtype='object')

In [731]:
for col in cat_col:
  df[col].fillna(df[col].mode()[0], inplace=True)

# Convert to categorical variable to dtype - category

- Note: Using the categorical dtype is a great way to save memory and boost performance. Specifying the dtypes will lower the amount of memory required to load your dataset. This is quite helpful when dealing with large datasets!

In [732]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   gender          32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [733]:
for col in cat_col:
  df[col]=df[col].astype('category')

In [734]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  category
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  category
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  category
 6   occupation      32561 non-null  category
 7   relationship    32561 non-null  category
 8   race            32561 non-null  category
 9   gender          32561 non-null  category
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  category
 14  income          32561 non-null  category
dtypes: category(9), int64(6)
memory usage: 1.8 MB

# Different Types of encoding for different kinds of Categorical Variable

In [735]:
df_cat=df[cat_col]

In [736]:
from sklearn.model_selection import train_test_split
X=df_cat.drop('income',axis=1)
y=df_cat['income']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [737]:
# check unique values of categorical variable and if it is nominal or ordinal

In [738]:
X_train.describe()

,workclass,education,marital.status,occupation,relationship,race,gender,native.country
count,26048,26048,26048,26048,26048,26048,26048,26048
unique,8,16,7,14,6,5,2,41
top,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States
freq,19589,8372,11977,4778,10560,22248,17430,23789

In [739]:
categories = X_train['workclass'].cat.categories
print("\nCategories:\n", categories)

# Check if the categorical data is ordered
is_ordered = X_train['workclass'].cat.ordered
print("\nIs ordered:", is_ordered)

Categories:
 Index(['Federal-gov', 'Local-gov', 'Never-worked', 'Private', 'Self-emp-inc',
       'Self-emp-not-inc', 'State-gov', 'Without-pay'],
      dtype='object')

Is ordered: False

In [740]:
# View categories
categories = X_train['education'].cat.categories
print("\nCategories:\n", categories)

# Check if the categorical data is ordered
is_ordered = X_train['education'].cat.ordered
print("\nIs ordered:", is_ordered)

Categories:
 Index(['10th', '11th', '12th', '1st-4th', '5th-6th', '7th-8th', '9th',
       'Assoc-acdm', 'Assoc-voc', 'Bachelors', 'Doctorate', 'HS-grad',
       'Masters', 'Preschool', 'Prof-school', 'Some-college'],
      dtype='object')

Is ordered: False

In [741]:
# logical order for education levels
education_order = [
    'Preschool', '1st-4th', '5th-6th', '7th-8th', '9th', '10th', '11th', '12th',
    'HS-grad', 'Some-college', 'Assoc-acdm', 'Assoc-voc', 'Bachelors', 'Masters',
    'Doctorate', 'Prof-school'
]

# Set the new order
X_train['education'] =X_train['education'].cat.reorder_categories(education_order, ordered=True)

# Verify the order
print("\nNew categories order:\n", X_train['education'].cat.categories)
print("\nIs ordered now:", X_train['education'].cat.ordered)

New categories order:
 Index(['Preschool', '1st-4th', '5th-6th', '7th-8th', '9th', '10th', '11th',
       '12th', 'HS-grad', 'Some-college', 'Assoc-acdm', 'Assoc-voc',
       'Bachelors', 'Masters', 'Doctorate', 'Prof-school'],
      dtype='object')

Is ordered now: True

In [742]:
for col in X_train.columns:
  categories = X_train[col].cat.categories
  print(f"\n{col} Categories:\n {categories}")

  # Check if the categorical data is ordered
  is_ordered = X_train[col].cat.ordered
  print(f"\n {col} Is ordered: {is_ordered}")

workclass Categories:
 Index(['Federal-gov', 'Local-gov', 'Never-worked', 'Private', 'Self-emp-inc',
       'Self-emp-not-inc', 'State-gov', 'Without-pay'],
      dtype='object')

 workclass Is ordered: False

education Categories:
 Index(['Preschool', '1st-4th', '5th-6th', '7th-8th', '9th', '10th', '11th',
       '12th', 'HS-grad', 'Some-college', 'Assoc-acdm', 'Assoc-voc',
       'Bachelors', 'Masters', 'Doctorate', 'Prof-school'],
      dtype='object')

 education Is ordered: True

marital.status Categories:
 Index(['Divorced', 'Married-AF-spouse', 'Married-civ-spouse',
       'Married-spouse-absent', 'Never-married', 'Separated', 'Widowed'],
      dtype='object')

 marital.status Is ordered: False

occupation Categories:
 Index(['Adm-clerical', 'Armed-Forces', 'Craft-repair', 'Exec-managerial',
       'Farming-fishing', 'Handlers-cleaners', 'Machine-op-inspct',
       'Other-service', 'Priv-house-serv', 'Prof-specialty', 'Protective-serv',
       'Sales', 'Tech-support', 'Transport-moving'],
      dtype='object')

 occupation Is ordered: False

relationship Categories:
 Index(['Husband', 'Not-in-family', 'Other-relative', 'Own-child', 'Unmarried',
       'Wife'],
      dtype='object')

 relationship Is ordered: False

race Categories:
 Index(['Amer-Indian-Eskimo', 'Asian-Pac-Islander', 'Black', 'Other', 'White'], dtype='object')

 race Is ordered: False

gender Categories:
 Index(['Female', 'Male'], dtype='object')

 gender Is ordered: False

native.country Categories:
 Index(['Cambodia', 'Canada', 'China', 'Columbia', 'Cuba', 'Dominican-Republic',
       'Ecuador', 'El-Salvador', 'England', 'France', 'Germany', 'Greece',
       'Guatemala', 'Haiti', 'Holand-Netherlands', 'Honduras', 'Hong',
       'Hungary', 'India', 'Iran', 'Ireland', 'Italy', 'Jamaica', 'Japan',
       'Laos', 'Mexico', 'Nicaragua', 'Outlying-US(Guam-USVI-etc)', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto-Rico', 'Scotland', 'South',
       'Taiwan', 'Thailand', 'Trinadad&Tobago', 'United-States', 'Vietnam',
       'Yugoslavia'],
      dtype='object')

 native.country Is ordered: False

In [743]:
#binary variables
bin_columns= ['gender']

In [744]:
# cat columns with nominal values
# Filter out columns where the categorical variable is not ordered
nominal_columns = [col for col in X_train.columns if  (X_train[col].cat.ordered==False and col not in bin_columns)]

# cat columns with ordinal values
# Filter out columns where the categorical variable is not ordered
ordinal_columns = [col for col in X_train if  (X_train[col].cat.ordered==True and col not in bin_columns)]

print("binary column:",bin_columns)
print("Nominal Columns:", nominal_columns)
print("Ordinal Columns:", ordinal_columns)
print("Target Variable:","income")

binary column: ['gender']
Nominal Columns: ['workclass', 'marital.status', 'occupation', 'relationship', 'race', 'native.country']
Ordinal Columns: ['education']
Target Variable: income

## Binary Variable - pandas apply method to give 0 and 1

In [745]:
# X_train['gender']=X_train['gender'].apply(lambda x: 1 if x=='Female' else 0)
# X_train.sample(5)

In [746]:

# target variable from classification problem
from sklearn.preprocessing import LabelEncoder

# Initialize label encoder
le1 = LabelEncoder()

# Fit and transform the 'gender'  column
X_train['gender']= le1.fit_transform(X_train['gender'])
X_train['gender'].head()

5514     1
19777    0
10781    0
32240    0
9876     1
Name: gender, dtype: int64

In [747]:
# target variable from classification problem
from sklearn.preprocessing import LabelEncoder

# Initialize label encoder
le_target = LabelEncoder()

# Fit and transform the 'income' target column
y_train_encoded = le_target.fit_transform(y_train)

# Check the encoded DataFrame
print(y_train_encoded[:10])
print("target classes after encoding",le_target.classes_)

[0 0 0 0 0 0 0 1 0 0]
target classes after encoding ['<=50K' '>50K']

# Ordinal Encoding for Ordinal Columns

In [748]:
X_train['education'].unique()

['HS-grad', 'Bachelors', 'Some-college', '11th', '5th-6th', ..., '10th', '12th', '1st-4th', 'Assoc-acdm', 'Preschool']
Length: 16
Categories (16, object): ['Preschool' < '1st-4th' < '5th-6th' < '7th-8th' ... 'Bachelors' < 'Masters' <
                          'Doctorate' < 'Prof-school']

In [749]:
# # mapping values in a dictionary
# edu_dict={'Preschool':1, '1st-4th':2, '5th-6th':3, '7th-8th':4, '9th':5, '10th':6, '11th':7,
#        '12th':8, 'HS-grad':9, 'Some-college':10, 'Assoc-acdm':11, 'Assoc-voc':12,
#        'Bachelors':13, 'Masters':14, 'Doctorate':15, 'Prof-school':16}
# X_train['education'] = X_train['education'].map(edu_dict)
# X_train['education'].unique()

In [750]:
from sklearn.preprocessing import OrdinalEncoder

# Initialize ordinal encoder
ord = OrdinalEncoder()

# Fit and transform the ordinal columns
ord.fit(X_train[ordinal_columns])
X_train[ordinal_columns]=ord.transform(X_train[ordinal_columns])

X_train.head()

,workclass,education,marital.status,occupation,relationship,race,gender,native.country
5514,Private,11.0,Never-married,Craft-repair,Not-in-family,White,1,United-States
19777,Private,11.0,Never-married,Other-service,Not-in-family,White,0,United-States
10781,Private,9.0,Divorced,Adm-clerical,Unmarried,White,0,United-States
32240,State-gov,15.0,Married-civ-spouse,Adm-clerical,Wife,White,0,United-States
9876,Local-gov,9.0,Married-civ-spouse,Prof-specialty,Husband,White,1,United-States

In [751]:

print(oe.categories_)

[array(['Federal-gov', 'Local-gov', 'Never-worked', 'Private',
       'Self-emp-inc', 'Self-emp-not-inc', 'State-gov', 'Without-pay'],
      dtype=object), array(['Divorced', 'Married-AF-spouse', 'Married-civ-spouse',
       'Married-spouse-absent', 'Never-married', 'Separated', 'Widowed'],
      dtype=object), array(['Adm-clerical', 'Armed-Forces', 'Craft-repair', 'Exec-managerial',
       'Farming-fishing', 'Handlers-cleaners', 'Machine-op-inspct',
       'Other-service', 'Priv-house-serv', 'Prof-specialty',
       'Protective-serv', 'Sales', 'Tech-support', 'Transport-moving'],
      dtype=object), array(['Husband', 'Not-in-family', 'Other-relative', 'Own-child',
       'Unmarried', 'Wife'], dtype=object), array(['Amer-Indian-Eskimo', 'Asian-Pac-Islander', 'Black', 'Other',
       'White'], dtype=object), array(['Cambodia', 'Canada', 'China', 'Columbia', 'Cuba',
       'Dominican-Republic', 'Ecuador', 'El-Salvador', 'England',
       'France', 'Germany', 'Greece', 'Guatemala', 'Haiti',
       'Holand-Netherlands', 'Honduras', 'Hong', 'Hungary', 'India',
       'Iran', 'Ireland', 'Italy', 'Jamaica', 'Japan', 'Laos', 'Mexico',
       'Nicaragua', 'Outlying-US(Guam-USVI-etc)', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto-Rico', 'Scotland', 'South', 'Taiwan',
       'Thailand', 'Trinadad&Tobago', 'United-States', 'Vietnam',
       'Yugoslavia'], dtype=object)]

# What is One Hot Encoding

# Handling Nominal Variable Encoding with One Hot Encoding

In [752]:
nominal_columns

['workclass',
 'marital.status',
 'occupation',
 'relationship',
 'race',
 'native.country']

# Perform one-hot encoding using pd.get_dummies()

In [753]:
#Perform one-hot encoding using pd.get_dummies()

# encoded_df=df[nominal_columns]
# encoded_df = pd.get_dummies(encoded_df, columns=['relationship'],dtype='int',drop_first=True)

# # encoded_df = pd.get_dummies(df, columns=nominal_columns)
# encoded_df.head()

In [754]:
# encoded_df = pd.get_dummies(encoded_df,dtype='int',drop_first=True)
# encoded_df.info()

# Perform one-hot encoding using sklearn OneHotEncoding

In [755]:
from sklearn.preprocessing import OneHotEncoder

# # # Initialize the encoder
# oe = OneHotEncoder()

# # Fit and transform the data
# encoded=oe.fit_transform(X_train[nominal_columns])
# print(encoded.toarray(),"\n")
# print(oe.get_feature_names_out())

In [756]:
# encoded_df=pd.DataFrame(encoded.toarray(),columns=oe.get_feature_names_out())

In [757]:
# encoded_df.head()

In [758]:
# merged_df=pd.concat([X_train,encoded_df],axis=1)

In [759]:
# Initialize the encoder
oe = OneHotEncoder()

# Fit and transform the data
encoded = oe.fit_transform(X_train[nominal_columns])

# Get feature names
feature_names = oe.get_feature_names_out(nominal_columns)

# Convert sparse matrix to DataFrame
encoded_df = pd.DataFrame(encoded.toarray(), columns=feature_names)

# Merge encoded DataFrame with original DataFrame
merged_X_train = pd.concat([X_train.reset_index(drop=True), encoded_df], axis=1)
merged_X_train.head()

,workclass,education,marital.status,occupation,relationship,race,gender,native.country,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,marital.status_Divorced,marital.status_Married-AF-spouse,marital.status_Married-civ-spouse,marital.status_Married-spouse-absent,marital.status_Never-married,marital.status_Separated,marital.status_Widowed,occupation_Adm-clerical,occupation_Armed-Forces,occupation_Craft-repair,occupation_Exec-managerial,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving,relationship_Husband,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,native.country_Cambodia,native.country_Canada,native.country_China,native.country_Columbia,native.country_Cuba,native.country_Dominican-Republic,native.country_Ecuador,native.country_El-Salvador,native.country_England,native.country_France,native.country_Germany,native.country_Greece,native.country_Guatemala,native.country_Haiti,native.country_Holand-Netherlands,native.country_Honduras,native.country_Hong,native.country_Hungary,native.country_India,native.country_Iran,native.country_Ireland,native.country_Italy,native.country_Jamaica,native.country_Japan,native.country_Laos,native.country_Mexico,native.country_Nicaragua,native.country_Outlying-US(Guam-USVI-etc),native.country_Peru,native.country_Philippines,native.country_Poland,native.country_Portugal,native.country_Puerto-Rico,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia
0,Private,11.0,Never-married,Craft-repair,Not-in-family,White,1,United-States,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Private,11.0,Never-married,Other-service,Not-in-family,White,0,United-States,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,Private,9.0,Divorced,Adm-clerical,Unmarried,White,0,United-States,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,State-gov,15.0,Married-civ-spouse,Adm-clerical,Wife,White,0,United-States,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,Local-gov,9.0,Married-civ-spouse,Prof-specialty,Husband,White,1,United-States,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

# Apply Encodings on Test Data

In [760]:
y_test_encoded = le_target.transform(y_test)
y_test_encoded[:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [761]:
feature_encodings=[le1,ord,oe]
X_test['gender']=feature_encodings[0].transform(X_test['gender'])
# X_test[ordinal_columns]=feature_encodings[1].transform(X_test[ordinal_columns])
# X_test[nominal_columns]=feature_encodings[2].transform(X_test[nominal_columns])
X_test.head()

,workclass,education,marital.status,occupation,relationship,race,gender,native.country
14160,Private,Some-college,Married-civ-spouse,Handlers-cleaners,Husband,White,1,United-States
27048,Private,Some-college,Never-married,Sales,Own-child,White,1,United-States
28868,Private,Some-college,Married-civ-spouse,Tech-support,Wife,White,0,United-States
5667,Private,11th,Never-married,Sales,Not-in-family,White,1,United-States
7827,Private,Some-college,Never-married,Adm-clerical,Own-child,White,0,United-States

In [762]:
X_test[ordinal_columns]=feature_encodings[1].transform(X_test[ordinal_columns])
X_test.head()

,workclass,education,marital.status,occupation,relationship,race,gender,native.country
14160,Private,15.0,Married-civ-spouse,Handlers-cleaners,Husband,White,1,United-States
27048,Private,15.0,Never-married,Sales,Own-child,White,1,United-States
28868,Private,15.0,Married-civ-spouse,Tech-support,Wife,White,0,United-States
5667,Private,1.0,Never-married,Sales,Not-in-family,White,1,United-States
7827,Private,15.0,Never-married,Adm-clerical,Own-child,White,0,United-States

In [763]:
# Convert sparse matrix to DataFrame
encoded_test=oe.transform(X_test[nominal_columns])
encoded_df_test = pd.DataFrame(encoded_test.toarray(), columns=feature_names)

# Merge encoded DataFrame with original DataFrame
merged_X_test = pd.concat([X_test.reset_index(drop=True), encoded_df_test], axis=1)
merged_X_test.head()

,workclass,education,marital.status,occupation,relationship,race,gender,native.country,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,marital.status_Divorced,marital.status_Married-AF-spouse,marital.status_Married-civ-spouse,marital.status_Married-spouse-absent,marital.status_Never-married,marital.status_Separated,marital.status_Widowed,occupation_Adm-clerical,occupation_Armed-Forces,occupation_Craft-repair,occupation_Exec-managerial,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving,relationship_Husband,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,native.country_Cambodia,native.country_Canada,native.country_China,native.country_Columbia,native.country_Cuba,native.country_Dominican-Republic,native.country_Ecuador,native.country_El-Salvador,native.country_England,native.country_France,native.country_Germany,native.country_Greece,native.country_Guatemala,native.country_Haiti,native.country_Holand-Netherlands,native.country_Honduras,native.country_Hong,native.country_Hungary,native.country_India,native.country_Iran,native.country_Ireland,native.country_Italy,native.country_Jamaica,native.country_Japan,native.country_Laos,native.country_Mexico,native.country_Nicaragua,native.country_Outlying-US(Guam-USVI-etc),native.country_Peru,native.country_Philippines,native.country_Poland,native.country_Portugal,native.country_Puerto-Rico,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia
0,Private,15.0,Married-civ-spouse,Handlers-cleaners,Husband,White,1,United-States,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Private,15.0,Never-married,Sales,Own-child,White,1,United-States,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,Private,15.0,Married-civ-spouse,Tech-support,Wife,White,0,United-States,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,Private,1.0,Never-married,Sales,Not-in-family,White,1,United-States,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,Private,15.0,Never-married,Adm-clerical,Own-child,White,0,United-States,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0